.Quiz_Layout {
  display: flex;
}

.Quiz_Sidebar {
  background-color: white;
  width: 15%;
  height: 100vh;
  padding: 10px;
  border-right: 1px solid #d1d5dbff;
}

.sidebar_nav {
  display: flex !important;
}

.sidebar_btn {
  display: flex;
  align-items: center;
  padding: 20px;
  width: auto;
  text-decoration: none !important;
  border-radius: 10px;
}

.sidebar_btn:hover {
  background-color: #f1f3f6ff;
}

.sidebar_icon {
  color: blue;
  margin-right: 10px !important;
}

.sidebar_text {
  font-weight: bold;
  color: blue;
  font-size: 13px !important;
}

.Quiz_Content {
  background-color: #f9fafbff;
  width: calc(100vw - 15%);
  height: 100vh;
  overflow-y: scroll;
}

.quiz_active {
  background-color: #fee2e2;
  border: 0.1px solid #fca5a5ff;
  color: red !important;
}
.quiz_active > .sidebar_text {
  color: red !important;
}
.quiz_active > .sidebar_icon {
  color: red !important;
}

/* medium screen */
@media screen and (max-width: 1279px) {
  .Quiz_Layout {
    display: flex;
  }
  .Quiz_Sidebar {
    background-color: white;
    width: 80px;
    height: 100vh;
  }
  .Quiz_Content {
    background-color: #f9fafbff;
    width: calc(100vw - 80px);
    height: 100vh;
  }
  .sidebar_btn {
    justify-content: center;
  }

  .sidebar_btn:active {
    border: 1px solid red !important;
  }

  .sidebar_btn:hover {
    background-color: #fca5a5ff ;
  }
  .sidebar_text {
    display: none;
  }

  .logo_text {
    display: none;
  }
}

/* small screen */
@media screen and (max-width: 639px) {
  .Quiz_Layout {
    display: flex;
    flex-direction: column;
    overflow: hidden !important;
  }

  .Quiz_Content {
    background-color: #f9fafbff;
    height: calc(100vh - 60px);
    order: 1;
    width: 100%;
  }

  .Quiz_Sidebar {
    background-color: white;
    height: 60px;
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);

  }

  .nav_aside {
    display: flex;
  }

  .sidebar_btn {
    display: flex !important;
    flex-direction: column !important;
    width: 100px;
  }

  .sidebar_nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 0 !important;
  }

  .logo{
    padding: 0px !important;
  }
}
